body {
    font-family: 'Arial', sans-serif;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Center vertically */
    align-items: center; /* Center horizontally */
    text-align: center;
    background-color: #ffffff;
    padding: 1em;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 90%;
    height: 85%;
    position: relative;
}

/* h1 {
    font-size: 2em;
    margin-bottom: 20px;
    color: #333333;
} */

#backhome {
    color: black;
    font-size: 30px;
    cursor: pointer;
    position: absolute;
    top: 15px;
    left: 15px;
    transition: color 0.3s ease;
}


#backhome:hover {
    color: #0056b3;
}

#timer {
    font-size: 1.2em;
    margin: 20px 0;
    color: #333333;
    display: inline-flex;   
    flex-direction: row;
    width: 100%;
    justify-content : center;
    

    
}

#time{
    /* position: relative; */
    /* float: left; */
    margin-left: 3%;
}

#besttime2{
    /* position: absolute; */
    /* top: 0px;
    left: 120%; */
    margin-left: 3%;



}




#startButton {
    padding: 10px 20px;
    font-size: 1em;
    width: 10%;
    color: #ffffff;
    background-color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-bottom: 20px;
}

#startButton:hover {
    background-color: #0056b3;
}

.numbers-container {
    flex-grow: 1;
    width: 100%;
    border: 1px solid #dddddd;
    border-radius: 10px;
    background-color:white;
    overflow: hidden;
    position: relative;
}

.number {
    position: absolute;
    width: 55px;
    height: 55px;
    background-color: rgb(42, 36, 36);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20%;
    cursor: pointer;
    font-size: 1.2em;
    /* transition: background-color 0.3s ease; */
}

/* .number:hover {
    background-color: #0056b3;
} */
